@charset "ISO-8859-1";
.Roller{
	
	width:90% ;
    height: 3px;
    border-radius: 2%;
    margin: auto 0;
    border: 1px solid black;
    background-color: rgba(53, 49, 49,0.2);
    
}
.cont{
    position: fixed;
    display: flex;
    width: 100%;
    height: 90%;
    margin: auto 0;
    padding: 20px;
    border: 1.5px solid rgba(53, 49, 49,0.2);
    flex-direction: column;
    justify-content: space-evenly;

}
.reg{
    position: relative;
    display: grid;
    width: 50%;
    height: 100%;
    margin: auto 0;
    align-items: center;

}
.log{
    position: relative;
    display: grid;
    width: 50%;
    height: 100%;
    font-weight: bold;
    border: 2px solid black;
    border-top: 0px solid black;

    box-shadow: 2px 2px gray;
}