@charset "ISO-8859-1";



.tim{
    position: absolute;
    display: flex;
    margin: auto;
    width: 80%;
    height: 100%;
    font-size: 29px;
    padding: 5px;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
}

.date{
	color:blue;
}

.day{
	color:green;
}